html
    head
    title X versus Y
    // for some reason I can't get the pathing right locally, later lets fix this
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js")
    script.
        var socket = io();
        socket.on('timer', function(data){
            document.getElementById('counter').innerHTML = data.x;
        });
        socket.on('imageSwapper', function(data){
            document.getElementById('img1').src = data.pic1;
            document.getElementById('img2').src = data.pic2;            
        });        
body
    h1 X Versus Y
    br
    br 
    img#img1(src="", alt="Picture One", width="100", height="100")
    img#img2(src="", alt="Picture Two", width="100", height="100" )
    p#counter 
